In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
vine_data_to_load = "vine_table.csv"

# Read in and store in pandas
vine_df = pd.read_csv(vine_data_to_load)

# Check
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R10009GL6PAAAW,5.0,0.0,0.0,N,Y
1,R1006JQWUSRBNN,5.0,2.0,2.0,N,Y
2,R1008DD0C9NX9Z,5.0,5.0,5.0,N,Y
3,R100AR6CZ42VWH,5.0,0.0,0.0,N,Y
4,R1010416UKW5ZU,5.0,2.0,2.0,N,Y
...,...,...,...,...,...,...
4850355,RZZP0GYZFSMP9,1.0,1.0,1.0,N,Y
4850356,RZZPMADFJR6CA,5.0,1.0,1.0,N,Y
4850357,RZZRW7988A5FN,5.0,0.0,0.0,N,Y
4850358,RZZTS844XM49G,3.0,0.0,0.0,N,Y
4850359,RZZYFIB8ZK4TB,5.0,0.0,0.0,N,Y

In [2]:
# Filter the data and create a new DataFrame (total_votes count >= 20)
twenty_plus_votes = vine_df[vine_df["total_votes"] >= 20]
twenty_plus_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
13,R101U43115T1IP,5.0,36.0,39.0,N,Y
163,R10FO62H0SFS54,4.0,22.0,24.0,N,N
244,R10X4XU5VZO3F2,5.0,39.0,40.0,N,N
316,R10MQKQ3M27SNK,5.0,22.0,22.0,N,Y
348,R10S42W67DZT1,3.0,22.0,24.0,N,Y
...,...,...,...,...,...,...
4850038,RYX0ZNWS1ZG8D,5.0,41.0,43.0,N,Y
4850241,RZW41I4Z8B40H,1.0,48.0,65.0,N,Y
4850285,RZIGEJQNTTHZ2,5.0,20.0,21.0,N,Y
4850317,RZQ6O7ZZTSFFG,4.0,102.0,105.0,N,Y
4850352,RZYCR3I4Y8V9J,1.0,19.0,21.0,N,N

In [52]:
# Filter the new DataFrame to retrieve all the rows where helpful_votes / total_votes >= 50%
fifty_percent_or_more_helpful = twenty_plus_votes[twenty_plus_votes["helpful_votes"] / twenty_plus_votes["total_votes"] >= 0.5]
fifty_percent_or_more_helpful

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
13,R101U43115T1IP,5.0,36.0,39.0,N,Y
163,R10FO62H0SFS54,4.0,22.0,24.0,N,N
244,R10X4XU5VZO3F2,5.0,39.0,40.0,N,N
316,R10MQKQ3M27SNK,5.0,22.0,22.0,N,Y
348,R10S42W67DZT1,3.0,22.0,24.0,N,Y
...,...,...,...,...,...,...
4850038,RYX0ZNWS1ZG8D,5.0,41.0,43.0,N,Y
4850241,RZW41I4Z8B40H,1.0,48.0,65.0,N,Y
4850285,RZIGEJQNTTHZ2,5.0,20.0,21.0,N,Y
4850317,RZQ6O7ZZTSFFG,4.0,102.0,105.0,N,Y
4850352,RZYCR3I4Y8V9J,1.0,19.0,21.0,N,N

In [61]:
# Filter the last DataFrame to show only vine program = Y
vine_program_paid = fifty_percent_or_more_helpful[fifty_percent_or_more_helpful["vine"] == "Y"]

# Repeat for vine program = N
vine_program_unpaid = fifty_percent_or_more_helpful[fifty_percent_or_more_helpful["vine"] == "N"]

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
30828,R3FK059WUSXX5U,4.0,20.0,25.0,Y,N
35564,R3SJHBRUSRAYS6,5.0,20.0,23.0,Y,N
51867,R17V0U2RS9UGBY,4.0,187.0,200.0,Y,N
62477,R2558BMKF7HK0D,1.0,720.0,928.0,Y,N
70278,R2R2WU76KCCCL,5.0,19.0,21.0,Y,N
...,...,...,...,...,...,...
4782348,R3AOMDKYJNK3FU,4.0,51.0,55.0,Y,N
4790415,R4DVNUQVXQV7Z,5.0,133.0,155.0,Y,N
4803988,R178I1AJRIQUTX,5.0,27.0,29.0,Y,N
4848226,RU9WPE68052HV,4.0,30.0,34.0,Y,N
4848313,RUEMGB38QVH3N,4.0,126.0,134.0,Y,N

In [5]:
# PRACTICE: Check nulls on full vine_df
vine_df.isnull().sum()

review_id              0
star_rating          797
helpful_votes        797
total_votes          797
vine                 797
verified_purchase    797
dtype: int64

In [6]:
# PRACTICE: Total number of reviews without dropping
total_reviews_raw = len(vine_df)
print(f"{total_reviews_raw:,}")

4,850,360

In [7]:
# PRACTICE: Total number of reviews after dropping (shows a difference of 797 as expected)
clean_vine_df = vine_df.dropna()
final_reviews = len(clean_vine_df)
print(f"{final_reviews:,}")

4,849,563

In [63]:
# Total number of reviews on filterd dataset (should match rows above)
total_reviews = len(fifty_percent_or_more_helpful)
vine_reviews = vine_program_paid["review_id"].count()
non_vine_reviews = vine_program_unpaid["review_id"].count()
print(f'Total Reviews: {total_reviews:,}\nVine: {vine_reviews:,}\nNon-Vine: {non_vine_reviews:,}')

Total Reviews: 61,948
Vine: 334
Non-Vine: 61,614

In [64]:
# Number of 5-star reviews (could also use len, but decided to use count())
five_star_reviews = fifty_percent_or_more_helpful[fifty_percent_or_more_helpful["star_rating"] == 5]["star_rating"].count()
print(f'Total Five-Star Reviews: {five_star_reviews:,}')

Total Five-Star Reviews: 32,804

In [66]:
# Percentage of 5-star reviews for paid
five_star_paid = vine_program_paid[vine_program_paid["star_rating"] == 5]["star_rating"].count()
five_star_paid_percentage_total = five_star_paid / total_reviews
five_star_paid_percentage_five_star = five_star_paid / five_star_reviews
five_star_paid_percentage_vine = five_star_paid / vine_reviews
print(f"Five Star Paid % of Total: {five_star_paid_percentage_total:.2%}")
print(f"Five Star Paid % of Five Star Reviews Only: {five_star_paid_percentage_five_star:.2%}")
print(f"Five Star Paid % of Vine Paid: {five_star_paid_percentage_vine:.2%}")

Five Star Paid % of Total: 0.22%
Five Star Paid % of Five Star Reviews Only: 0.42%
Five Star Paid % of Vine Paid: 41.62%

In [69]:
# Percentage of 5-star reviews for unpaid
five_star_unpaid = vine_program_unpaid[vine_program_unpaid["star_rating"] == 5]["star_rating"].count()
five_star_unpaid_percentage_total = five_star_unpaid / total_reviews
five_star_unpaid_percentage_five_star = five_star_unpaid / five_star_reviews
five_star_unpaid_percentage_non_vine = five_star_unpaid / non_vine_reviews
print(f"Five Star Unpaid % of Total: {five_star_unpaid_percentage_total:.2%}")
print(f"Five Star Unpaid % of Five Star Reviews Only: {five_star_unpaid_percentage_five_star:.2%}")
print(f"Five Star Unpaid % of Vine Unpaid: {five_star_unpaid_percentage_non_vine:.2%}")

Five Star Unpaid % of Total: 52.73%
Five Star Unpaid % of Five Star Reviews Only: 99.58%
Five Star Unpaid % of Vine Unpaid: 53.02%

In [65]:
# Print Vine Paid and Non-Paid Five-Star Only (should sum to 32,804)
print(f'Paid Five-Star Reviews: {five_star_paid:,}')
print(f'Unpaid Five-Star Reviews: {five_star_unpaid:,}')

Paid Five-Star Reviews: 139
Unpaid Five-Star Reviews: 32,665

In [50]:
# Check 0 and 0
print(f'\
{total_reviews - len(fifty_percent_or_more_helpful[fifty_percent_or_more_helpful["star_rating"] != 5]) - five_star_paid - five_star_unpaid}\
 and {five_star_reviews - five_star_paid - five_star_unpaid}\
, everything ties')

0 and 0, everything ties